<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte Rfid</title>

    <!-- Inclure les fichiers CSS Bootstrap (assurez-vous d'avoir les liens corrects vers les fichiers CSS) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Barre de Menu Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SenSmartPay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cardRfids">Carte Rfid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transaction</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="h2">Liste des cartes Rfid</h2>
    <a href="/addCardRfid" class="btn btn-success">Ajouter une carte Rfid</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>UID de la carte</th>
            <th>Date de creation</th>
            <th>Date d'expiration</th>
            <th>Solde</th>
            <th>Utilisateur</th>
            <th>Telephone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cardRfid: ${cardRfids}">
            <td th:text="${cardRfid.uid}">UID carte</td>
            <td th:text="${cardRfid.issueDate}">Date de creation</td>
            <td th:text="${cardRfid.expirationDate}">Date d'expiration</td>
            <td th:text="${cardRfid.solde}">Solde</td>
            <div th:if="${cardRfid != null and cardRfid.user != null}">
                <td th:text="${cardRfid.user.prenom}+' '+${cardRfid.user.nom}">Prenom et nom</td>
                <td th:text="${cardRfid.user.telephone}">telephone</td>
            </div>
            <td>
                <a th:href="@{'/depot/'+${cardRfid.idCardRfid}}" class="btn btn-primary">Dépôt</a>
                <a th:href="@{'/updateCardRfid/'+${cardRfid.idCardRfid}}" class="btn btn-primary">Modifier</a>
                <a th:href="@{'/deleteCardRfid/'+${cardRfid.idCardRfid}}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Inclure le fichier JavaScript Bootstrap (assurez-vous d'avoir le lien correct vers le fichier JavaScript) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>