<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateur</title>

    <!-- Inclure les fichiers CSS Bootstrap (assurez-vous d'avoir les liens corrects vers les fichiers CSS) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Barre de Menu Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SenSmartPay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cardRfids">Carte Rfid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transaction</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <h2 class="h2">Liste des Utilisateur</h2>
    <a href="/addUser" class="btn btn-success">Ajouter un utilisateur</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Telephone</th>
            <th>Date de naissance</th>
            <th>Lieu de naissance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2" class="text-center">Aucun utilisateur en base de données</td>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.prenom}">Prénom</td>
            <td th:text="${user.nom}">Nom</td>
            <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.telephone}">Telephone</td>
            <td th:text="${user.dateNaissance}">Date de naissance</td>
            <td th:text="${user.lieuNaissance}">Lieu de naissance</td>
            <td> <a th:href="@{'/updateUser/'+${user.idPersonne}}" class="btn btn-primary">Modifier</a>
                <a th:href="@{'/deleteUser/'+${user.idPersonne}}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<!-- Inclure le fichier JavaScript Bootstrap (assurez-vous d'avoir le lien correct vers le fichier JavaScript) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>